body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  
  
  }
  
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
  }
 
  .ho{
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  }
table{
        border-spacing: 18px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
        
    


}
.odd th, .odd td{
background-color: #eee;
}